:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --verde: #008000;
    --naranja: #FAA700;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    position: relative; /* Añadido para que .contenedor se sitúe sobre la imagen de fondo */
    z-index: 1; /* Asegúrate de que .contenedor esté en capas superiores que la imagen de fondo */
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.header {
    position: relative;
    height: 60rem;
    overflow: hidden;
}

/*
Navegacion 2 incorporada en la pagina
*/
.nav-bg {
    background-color: var(--negro);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--negro);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

    .navegacion-principal a:hover {
        background-color: var(--negro);
        color: var(--oscuro);
    }

/* Agrega la siguiente regla al final del CSS existente */
.acciones-header {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
}

/* Navegacion Principal */


.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

    .navegacion-principal a:hover {
        background-color: var(--naranja);
        color: var(--negro);
    }

.imagenPortada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; /* Ajustado al 100% para cubrir todo el .header */
    width: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.imagenPortada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.acciones-header {
    display: flex;
    align-items: center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barrapagina {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barrapagina {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

    .entrada:last-of-type {
        border: none;
        margin-bottom: 0;
    }

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--verde);
}

.boton--secundario {
    background-color: var(--verde);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

    .widget-curso:last-of-type {
        border: none;
        margin-bottom: 0;
    }

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/** Sobre Nosotros **/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/** Cursos **/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info {
    font-weight: normal;
}

.curso__label,
.curso__info {
    font-size: 2rem;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}
