@{
    ViewData["Title"] = "Durante Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaSaludMental</title>
    <meta name="description" content="Página web de salud Mental">


    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">


    <link href="~/css/sitioweb/style2.css" rel="stylesheet" />
    <link href="~/css/barralateral/style.css" rel="stylesheet" />
    <link href="~/css/sitioweb/normalize.css" rel="stylesheet" />
</head>

<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="cloud" name="menu-outline"></ion-icon>
                <span>Menu</span>
            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="PaginaInicio">
                        <ion-icon name="home-outline"></ion-icon>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="AcosoIndex">
                        <ion-icon name="hand-left-outline"></ion-icon>
                        <span>Acoso</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="TrastornoIndex">
                        <ion-icon name="extension-puzzle-outline"></ion-icon>
                        <span>Trastorno</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Legal">
                        <ion-icon name="library-outline"></ion-icon>
                        <span>Legal</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Seguridad">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <span>Seguridad</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Ayuda">
                        <ion-icon name="heart-half-outline"></ion-icon>
                        <span>Ayuda</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Nosotros">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <span>Nosotros</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contactanos">
                        <ion-icon name="call-outline"></ion-icon>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Drak Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                        </div>
                    </div>
                </div>
            </div>

            <div class="usuario">
                <img src="~/img/barraLateral/user_icon.png" />
                <div class="info-usuario">
                    <div class="nombre-email">
                        <a class="nombre" asp-area="" asp-controller="Acceso" asp-action="Login">Iniciar Sesion</a>
                        <a class="email" asp-area="" asp-controller="Home" asp-action="PaginaInicio">O Registrarse</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <header class="header">
        <div class="contenedor">
            <div class="barrapagina">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="PaginaInicio">
                    <h1 class="logo__nombre no-margin centrar-texto">Guia<span class="logo__bold">SaludMental</span></h1>
                </a>
            </div>
        </div>

        <div class="imagenPortada">
            <img src="~/img/trastornos/canva2.png" alt="Imagen de portada" />
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Información sobre la salud mental con consejos y charlas</h2>
            <p class="no-margin">Obten información y charla con personas especializadas en psicologia</p>
        </div>
    </header>
    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="#">Alerta</a>
            <a href="#">Tipos</a>
            <a href="#">App</a>
            <a href="#">Como identificar</a>
        </nav>
    </div>
    <div class="contenedor">
        <main class="blog">
            <h3 class="centrar-texto">Durante el Acoso</h3>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="https://img.freepik.com/foto-gratis/pintura-persona-que-sufre-ansiedad_23-2150859253.jpg" alt="imagen blog">
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Como prevenir el Acoso</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, rerum, reprehenderit consequatur perferendis officia, vitae fuga animi temporibus itaque atque reiciendis ea excepturi! Molestias aperiam fugiat deleniti laudantium atque numquam?</p>
                    <a class="boton boton--primario" asp-area="" asp-controller="Home" asp-action="Preventiva">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="https://media.istockphoto.com/id/1277727210/es/vector/trastorno-de-nutrici%C3%B3n-de-la-mujer-bulimia-problema-vector.jpg?s=612x612&w=0&k=20&c=XTFqd7CUwNGgDYHQcIl2GvKhPhFjbpbfA38f9-BwAXY=" alt="imagen blog">
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Durante el acoso</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, rerum, reprehenderit consequatur perferendis officia, vitae fuga animi temporibus itaque atque reiciendis ea excepturi! Molestias aperiam fugiat deleniti laudantium atque numquam?</p>
                    <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <picture>
                        <img src="~/img/mentetranquilap.jpg" />
                    </picture>
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Despues del acoso</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, rerum, reprehenderit consequatur perferendis officia, vitae fuga animi temporibus itaque atque reiciendis ea excepturi! Molestias aperiam fugiat deleniti laudantium atque numquam?</p>
                    <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>

                </div>
            </article>
        </main>

    </div>

    <footer class="footer">
        <div class="contenedor">
            <div class="barrapagina">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Guia<span class="logo__bold">SaludMental</span></h1>
                </a>

                <nav class="navegacion">
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="TrastornoIndex">Acoso</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="TrastornoIndex">Trastorno</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="TrastornoIndex">Legal</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="Seguridad">Seguridad</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="Ayuda">Ayuda</a>
                </nav>
            </div>
        </div>
    </footer>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/barralateral/site.js"></script>
    <script src="js/modernizr.js"></script>
</body>
</html>