
@{
    ViewData["Title"] = "Cuentanos tu Caso Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaSaludMental</title>
    <meta name="description" content="Página web de salud Mental">


    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link href="~/css/sitioweb/normalize.css" rel="stylesheet" />
    <link href="~/css/sitioweb/style2.css" rel="stylesheet" />


</head>
<body>

    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="PaginaInicio">
                    <h1 class="logo__nombre no-margin centrar-texto">Guia<span class="logo__bold">SaludMental</span></h1>
                </a>
                <nav class="navegacion">
                    <a class="navegacion__enlace" asp-area="" asp-controller="Capacitaciones" asp-action="Index">Administrador</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="Formulario">Cuentanos</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                    <a class="navegacion__enlace" asp-area="" asp-controller="Home" asp-action="Contactanos">Contacto</a>
                </nav>
            </div>
        </div>
        <div class="acciones-header">
            <a class="boton boton--icono boton--casa" asp-area="" asp-controller="Home" asp-action="PaginaInicio">
                <i class="fas fa-home">
                    <img src="~/img/dev-icon-183.svg" alt="Icono de casa">
                </i>
            </a>
            <a class="boton boton--secundario" asp-area="" asp-controller="Acceso" asp-action="Login">Login</a>
        </div>

        <div class="imagenPortada">
            <img src="~/img/trastornos/canva2.png" alt="Imagen de portada" />
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Informacion sobre la salud mental con consejos y charlas</h2>
            <p class="no-margin">Obten informacion y charla con personas especializadas en psicologia</p>
        </div>
    </header>
    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="#">Bulimia</a>
            <a href="#">Ansiedad</a>
            <a href="#">Bullying</a>
            <a href="#">Juegos</a>
            <a asp-area="" asp-controller="Home" asp-action="Test">Test</a>
        </nav>
    </div>

    <main class="contenedor">
        <h3 class="centrar-texto">Cuentanos tu caso</h3>

        <div class="contacto-bg">
            <img src="~/img/añadir texto.png" />
        </div>

        <form class="formulario">
            <div class="campo">
                <label class="campo__label" for="nombre">Nombre</label>
                <input class="campo__field"
                       type="text"
                       placeholder="Tu Nombre"
                       id="nombre">
            </div>
            <div class="campo">
                <label class="campo__label" for="email">Edad</label>
                <input class="campo__field"
                       type="email"
                       placeholder="Tu E-mail"
                       id="email">
            </div>
            <div class="campo">
                <label class="campo__label" for="sexo">Sexo</label>
                <input class="campo__field"
                       type="email"
                       placeholder="Tu Sexo"
                       id="email">
            </div>
            <div class="campo">
                <label class="campo__label" for="text">Educacion o laboral</label>
                <input class="campo__field"
                       type="email"
                       placeholder="Tu educacion o laboral"
                       id="email">
            </div>
            <div class="campo">
                <label class="campo__label" for="mensaje">Mensaje</label>
                <textarea class="campo__field campo__field--textarea"
                          id="mensaje"></textarea>
            </div>

            <div class="campo">
                <input type="submit" value="Enviar" class="boton boton--primario">
            </div>
        </form>


    </main>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Guia<span class="logo__bold">SaludMental</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="cursos.html" class="navegacion__enlace">Charlas</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>
    <script src="js/modernizr.js"></script>
</body>
</html>